.breadcrum{
	border-bottom: 1px solid #aaa;
	padding-bottom: 8px;
	font-size: 1em;
}
.breadcrum a{
	color: #0078c3;
	font-weight: bold;
}
.noidung{
	margin: 20px 0;
	overflow: hidden;
	font-size: 1.1em;
	line-height: 20px;
}
.noidung h3{font-size: 25px; font-weight: 100;}
.noidung .img-wrapper{
	width: 60%;
	margin: 0 auto;
}
.noidung .img-wrapper img{width: 100%;}
.noidung .author{float: right;}
.noidung .author::after{clear: both;}
.tags{margin-bottom: 30px;}
.tags a{
	color: #0078c3;
}
.tags a:hover{
	text-decoration: underline;
}
.tags span{
	margin: 0 2px;
	padding: 5px 15px;
	background-color: #f1f1f1;
}
.share-like{
	width: 100%;
	overflow: hidden
}
.share-like::after{clear: both;}
.share-like .wrapper{
	float: right;
	font-weight: 600;
	vertical-align: middle;
	padding: 10px 20px;
	background-color: #f1f1f1;
}
.share-like span{
	margin-right: 10px;
}
.relative-news ul li{
	list-style-type: disc;
}
.relative-news a{
	color: #0078c3;
}
.relative-news a:hover{
	text-decoration: underline;
}
@media all and (max-width: 700px) {
	.noidung .img-wrapper{width: 100%;}
}