.content{
	margin-bottom: 50px;
}
.content .container{
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 30px;
}

aside .aside-menu{
	background-color: #f1f1f1;
	padding:  10px;
	font-size: 13px;
	font-weight: bold;
	color: #0078c3;
}
aside h2{font-size: 30px;padding-left: 20px;}
aside a{
	display: block;
	width: 95%;
	padding: 10px;
	margin-top: 5px;
	border-bottom: 1px dashed #333;
	color: #0078c3;
}
aside a.active, aside a:hover{
	background-color: #0078c3;
	color: #fff;
}
aside .guiyeucau{
	font-size: 1.5em;
	background-color: #005387;
	text-align: center;
	font-weight: 600;
}
aside .guiyeucau a{
	color: #FFF700;
	border-bottom: none;
}

.aside-dropdown{display: none}
.clip{
	height: 350px;
}
.breadcrumb{
	color: #333;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}
.breadcrumb a{
	color: #0078c3;
	font-weight: 600;
}

.main-content h1{
	color: #BF1111;
	text-align: center;
	margin: 20px auto;
	line-height: 20px;
	font-size: 2em;
}
.main-content h3{
	color: #0078c3;
    font-size: 15px;
    /* padding: 20px; */
}

@media all and (max-width: 1100px) {

.content{
	clear: both;
	width: 100%;
}

}

@media all and (max-width: 1010px) {
	
.content .container{display: block;}

.aside-menu{display: none}

.aside-dropdown{
	display: block;
	clear: both;
	overflow: hidden;
	margin-bottom: 10px;
	background-color: #f1f1f1;
}

.aside-dropdown .aside-dropbtn{
	cursor: pointer;
    font-size: 25px;    
    border: none;
    outline: none;
    color: #0078C3;
    padding: 0px 16px 10px 16px;
    font-family: inherit;
    font-weight: bold;
    margin-top: 20px;
    width: 94%;
}

.as-dd-content{display: none;}

.aside-show{display: block;}

}
